body {
    padding: 0;
    margin: 0;
    background-image: url("./assets/pxfuel.jpg.jpg");
    font-family: 'Minecraft', sans-serif;
    background-size: cover;
}

header {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    color: black;
    text-shadow: none;
}

.botoes {
    background-color: #8d8585;
    height: 55px;
    width: 300px;
    margin-top: 25px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: medium;
    padding-left: 40px;
}


body:not(header) {
    color: #949393;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.calcular {

    height: 25px;
    margin-top: 120px;
    background-color: #d8d1d1;
    transition: 1s;
    border: 1px solid rgb(97, 97, 97);
    text-align: center;

}

.resultE {
    margin-top: 60px;
    background-color: #000000a9;
    height: 25px;
    text-align: center;
    font-size: larger;
    border-top: 10px;
}

.resultM {
    margin-top: 60px;
    background-color: #000000a9;
    height: 25px;
    text-align: center;
    font-size: larger;
    border-top: 10px;

}

.calcular:hover {
    background-color: #949393;
}

.divHeader {
    background-color: #eee;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Calculadora {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


}

.Calculadora1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;

}

footer {
    margin-top: 350px;
    margin-left: 60px;
}

.texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 90px;
    background-color: #000000a9;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 20px;
}

.dpsM {
    background-color: #000000a9;
    height: 25px;
    text-align: center;
    font-size: larger;
    border-bottom: 10px;
}

.dpsE {
    background-color: #000000a9;
    height: 25px;
    text-align: center;
    font-size: larger;
    border-bottom: 10px;
}